/* HW4 – COSC 2328 – Professor McCurry
   Implemented by: Val Inthalangsy */

   * {box-sizing: border-box; margin: 0; padding: 0; };

   body {
        font-family: Ariel, sans-serif;
        background-color:aqua;
   }

   .container {padding: 0px; max-width: 1200px; margin:0 auto}

    form {
        padding: 20px;
        background-color: white;
        border-radius: 8px;
    }

    input {
        width: 100%;
        padding: 10px;
        margin:2rem auto;
    }

    button[type="submit"]:hover {color: rgb(28, 203, 122);}
    input:focus {border-color: rgb(235, 160, 10)}

    @media (min-width: 768px) {
        .container { display: flex; gap: 2rem;}
    }




